<!-- <%- include('./partials/header') %> -->
<!-- <br /> -->
Xin chào <%= name %>, <br />
Chúng tôi nhận được yêu cầu xác minh tài khoản từ bạn! <br /><br />
Nếu bạn không thực hiện yêu cầu này thì vui lòng bỏ qua email này. <br /><br />
Nếu không, vui lòng nhấp vào liên kết này để xác minh tài khoản của bạn: <br />
<a href="<%= linkVerificationAccount %>"><%= linkVerificationAccount %></a>
<br /><br />
<%- include('./partials/footer') %>
